body 
{
	font-family: Georgia ;
	font-size:18px;
	line-height: 1.5;
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 50px; 
}

li {margin-bottom: 15px;margin-top: 15px;align="justify"}
p {margin-bottom: 15px;margin-top: 15px;align="justify"}

b {
	text-shadow: 1px 1px 2px rgb(181, 181, 181);
	font-size: 1.0em;
	font-family: Georgia, serif;
}

.blue {color: #1E90FF}

.red {color: #FF5511}

.green {font-family: Courier New, serif; color: #008800}

.code {font-family: Courier New, serif; color: #000000}

.purple {color: #800080}

.buleR {color: #6600FF}

a:link {color: #000099; text-decoration: none;}     /* unvisited link */
a:visited {color: #000099; text-decoration: none;}  /* visited link */
a:hover {color: #821115; text-decoration: none;}   /* mouse over link */
a:active {color: #000099; text-decoration: none;}   /* selected link */